{% extends "_base.njk" %}

{% block meta_title %}Wirtualizacja | Dariusz Felskowski{% endblock %}

{% block content %}

  <div class="services-header">
    <div class="header-image wirtualizacja"></div>
    <div class="header-text">
      <h1>Wirtualizacja <br>aplikacji</h1>
    </div>
  </div>

  <p class="contact-title services">Wykorzystaj w pełni zasoby swojego serwera</p>
	
<section class="page-why">
	<div class="why-text">
	<h2>Jeden serwer, wiele aplikacji</h2>
  <p>Technologia ta umożliwia wielu aplikacjom działanie na wielu systemach operacyjnych uruchomionych na tym samym fizycznym serwerze z wykorzystaniem wolnej mocy. Dzięki temu można w pełni wykorzystać moc obliczeniową i zasobową serwerów, stawiając kolene maszyny wirtualne na jednym fizycznym serwerze. Zamiast kupować kolejne serwery fizyczne.<br><br> Dodatkową zaletą jest też szybsze dostarczenie usług dla biznesu w ciągu bardzo krótkiego czasu tworzenie nowego wirtualnego systemu operacyjnego gotowego do pracy. Ponadto podstawowe zadania konserwacyjne związane z serwerami są  znacznie uproszczone i przyśpieszone.</p>
	<div class="why-image"></div>
</div>
</section>


{% endblock %}

