{% extends "_base.njk" %}

{% block meta_title %}Monitoring systemów | Dariusz Felskowski{% endblock %}

{% block content %}

  <div class="services-header">
    <div class="header-image monitoring"></div>
    <div class="header-text">
      <h1>Monitoring systemów <br>informatycznych</h1>
    </div>
  </div>

  <p class="contact-title services">Do czego przyda Ci się monitoring?</p>
	
	<div class="services-description vertical">
		<div class="services-description__item fast">
			<h2>Szybka reakcja</h2>
			<p>Gdy chcesz zapobiec lub maksymalnie wcześnie wykrywać awarie sieci, łączy i serwerów paraliżujących pracę Twojej Firmy. Każda godzina jest bardzo cenna, dlatego bądź zawsze przygotowany, by mów jak najszybciej zareagować.</p>
		</div>
		<div class="services-description__item audit">
			<h2>Maksymalna optymalizacja</h2>
			<p>Gdy chcesz wiedzieć, czy optymalnie wykorzystujesz swoje zasoby informatyczne. Czego masz w nadmiarze i możesz zaoszczędzić, a co wymaga modernizacji. Pamiętaj że sprawnie działający system zapewnia większą wydajność i większe zyski.</p>
		</div>
		<div class="services-description__item safe">
			<h2>Bezpieczeństwo</h2>
			<p>Gdy chcesz czuć się bezpiecznie. Mając najnowsze zabezpieczenia antywirusowe i antywłamaniowe możesz spać spokojnie. Niepożądane oprogramowanie i wycieki danych mogą mieć katastrofalny wpływ na Twoją firmę.</p>
		</div>
  </div>


{% endblock %}
