{% extends "_base.njk" %}

{% block meta_title %}Usługi informatyczne | Dariusz Felskowski{% endblock %}

{% block content %}
  <div class="services-header">
    <div class="header-image services"></div>
    <div class="header-text">
      <h1>Usługi teleinformatyczne <br>dla firm oraz klientów indywidualnych</h1>
    </div>
  </div>
  <h2  id="services" class="contact-title services">Czym się zajmuję</h2>
	<div class="services-wrap">
		<a href="/bezpieczenstwo/" class="services-item">
			<div class="services-item__image safety"></div>
			<div class="services-item__title">Bezpieczeństwo</div>
			<div class="services-item__text">Zabezpiecz swoją firmę przed utratą ważnych danych. Pomogę Ci zaprojektować i stworzyć odpowiedni system dla Twojej firmy.</div>
		</a>
		<a href="/serwery/" class="services-item">
			<div class="services-item__image servers"></div>
			<div class="services-item__title">Serwery</div>
			<div class="services-item__text">Obsługa istniejących i tworzenie nowych serwerów dla Ciebie. Pomogę Ci stworzyć serwer usprawniajacy pracę w Twojej firmie.</div>
		</a>
		<a href="/monitoring/" class="services-item">
			<div class="services-item__image monit"></div>
			<div class="services-item__title">Monitoring</div>
			<div class="services-item__text">Maksymalna optymalizacja i szybka reakcja w przypadku awarii. Pomogę Ci zabezpieczyć się przed utratą cennego czasu.</div>
		</a>
		<a href="/wirtualizacja/" class="services-item">
			<div class="services-item__image wirtualizacja"></div>
			<div class="services-item__title">Wirtualizacja</div>
			<div class="services-item__text">Wykorzystaj w pełni swoje zasoby. Pomogę Ci stworzyć wiele aplikacji działających na jednym serwerze.</div>
		</a>
		<a href="/optymalizacja/" class="services-item">
			<div class="services-item__image optimalization"></div>
			<div class="services-item__title">Optymalizacja</div>
			<div class="services-item__text">Twój system działa wolno przez co tracisz dużo czasu? Pomogę Ci wybrać optymalne rozwiązanie zwiększające komfort Twojej pracy.</div>
		</a>
		<a href="/serwis/" class="services-item">
			<div class="services-item__image service"></div>
			<div class="services-item__title">Serwis</div>
			<div class="services-item__text">Masz problem ze swoim komputerem lub zastanawiasz się jaki zestaw kupić? Pomogę Ci w naprawie jak i doradzę wybór nowych komponentów.</div>
		</a>

	</div>
{% endblock %}
