{% extends "_base.njk" %}

{% block meta_title %}Serwis komputerowy | Dariusz Felskowski{% endblock %}

{% block content %}

  <div class="services-header">
    <div class="header-image serwis"></div>
    <div class="header-text">
      <h1>Serwis <br>komputerowy</h1>
    </div>
  </div>

  <p class="contact-title services">Serwisuję wszystkie komputery stacjonarne i przenośne.
  </p>
	
	<div class="services-description vertical">
		<div class="services-description__item system">
			<h2>Systemy operacyjne</h2>
			<p>Instaluję systemy Windows oraz Linux</p>
		</div>
		<div class="services-description__item virus">
			<h2>Usuwanie wirusów</h2>
			<p>Oczyszczam system z niechcianego oprogramowania i zabezpieczam przed kolejnymi atakami</p>
		</div>
		<div class="services-description__item install">
			<h2>Instalacja oprogramowania</h2>
      <p>Pomagam w znalezieniu odpowiedniego oprogramowania oraz instaluję je</p>
		</div>
		<div class="services-description__item part">
			<h2>Wymiana podzespołów</h2>
			<p>Modernizuję juz istniejące zestawy komputerowe</p>
		</div>
		<div class="services-description__item pc">
			<h2>Składanie komputerów</h2>
			<p>Tworzę konfigurację spełniającą oczekiwania klienta</p>
		</div>
		<div class="services-description__item audit">
			<h2>Optymalizacja działania</h2>
			<p>Poprzez szereg czynności usprawniam działanie komputera</p>
		</div>
  </div>
<section class="page-why">
	<div class="why-text serwis">
    <h2>Objawy źle działającego <br>
    komputera</h2>
  <ul class="symptoms-list">
    <li>nie włącz się</li>
    <li> nie uruchamia się</li>
    <li>pracuje powoli</li>
    <li>samoczynnie się wyłącza</li>
    <li>nie ładują się strony internetowe</li>
    <li>działa bardzo głośno</li>
  </ul>
  <p>
    Jeżeli Twój komputer sygnalizuje któryś z powyższych symptomów, powinieneś się ze mną skontaktować
  </p>
	<div class="why-image"></div>
</div>
</section>

{% endblock %}

