{% extends "_base.njk" %}

{% block meta_title %}Bezpieczeństwo | Dariusz Felskowski{% endblock %}

{% block content %}

  <div class="services-header">
    <div class="header-image bezpieczenstwo"></div>
    <div class="header-text">
      <h1>Bezpieczeństwo<br> twoich danych</h1>
    </div>
  </div>

  <p class="contact-title services">Dobrze zabezpieczone dane to w dzisiejszych czasach <br>priorytet każdej firmy. Dzięki mnie Twoje pliki będą <br>zawsze bezpieczne.</p>
	
	<div class="services-description vertical">
		<div class="services-description__item backup">
			<h2>Backup i archiwizacja danych</h2>
			<p>To usługa dla wszystkich przedsiębiorstw świadomych ważności danych przechowywanych i przetwarzanych w systemach informatycznych.<br> W zależności od wielkości firmy zaprojektuję odpowiedni system backupowy.</p>
		</div>
		<div class="services-description__item audit">
			<h2>Audyt efektywności operacyjnej</h2>
			<p>Jego celem jest optymalizacja efektywności działania infrastruktury IT w firmie, w w szczególności optymalizacja efektywności wykorzystania systemów informatycznych, struktury organizacyjnej działu IT, wykorzystywanej w przedsiębiorstwie (hardware, software).</p>
		</div>
  </div>


{% endblock %}
