{% extends "_base.njk" %}

{% block meta_title %}Usługi serwerowe | Dariusz Felskowski{% endblock %}

{% block content %}

  <div class="services-header">
    <div class="header-image serwer"></div>
    <div class="header-text">
      <h1>Usługi <br>serwerowe</h1>
    </div>
  </div>

  <p class="contact-title services">Masz swój własny serwer lub chcesz postawić nowy <br>ale nie wiesz jak?</p>
	
	<div class="services-description vertical">
		<div class="services-description__item file">
			<h2>Serwer plików</h2>
			<p>Najprostrza i najczęściej wykorzystywana funkcja to serwer plików, czyli miejsce, gdzie przechowywane są pliki, do których ma mieć dostęp więcej niż jedna osoba, w szczególności wszyscy pracownicy firmy.</p>
		</div>
		<div class="services-description__item backup">
			<h2>Serwer bazodanowy</h2>
			<p>Po bazę danych sięgamy, gdy informacji jest tak dużo że trudno byłoby zapisać je w plikach. Baza danych w dużym uproszczeniu też jest plikiem, w którym informacje są zapisane w uporządkowany sposób, w postaci powiązanych ze sobą tabel i rekordów.</p>
		</div>
		<div class="services-description__item mail">
			<h2>Serwer pocztowy</h2>
			<p>Jest odpowiedzialny za odbieranie i wysyłanie poczty elektronicznej. Serwer pocztowy jest niezbędny gdy chcesz mieć nazwę swojej firmy w adresie email, lub gdy chcesz zabezpieczyć się przed wyciekiem danych.</p>
		</div>
		<div class="services-description__item print">
			<h2>Serwer wydruku</h2>
			<p>Pozwala wielu użytkownikom na korzystanie z jednej drukarki. Serwer wydruku pozwala na wiele usług związanych z drukowaniem. Najpopularniejsze z nich to proste kolejkowanie drukarek oraz formatowanie wydruku.</p>
		</div>
		<div class="services-description__item ftp">
			<h2>Serwer www/ftp</h2>
			<p>Stworzony do publikowania stron internetowych oraz wymiany plików przez internet. Chcesz mieć pewność że Twoja strona internetowa stoi na solidnym dobrze zoptymalizowanym serwerze? Pomogę Ci w tym</p>
		</div>
		<div class="services-description__item dev">
			<h2>Serwer developerski</h2>
			<p>To typ serwera zaprojektowany w celu ułatwienia tworzenia i testowania programów, witryn internetowych lub aplikacji dla programistów. Zapewnia środowisko uruchomieniowe, a także wszystkie narzędzia sprzętowe / programowe, które są niezbędne do programowania i debugowania.</p>
		</div>
		<div class="services-description__item www">
			<h2>Serwer DNS</h2>
      <p>Serwer Nazw Domenowych, dzięki któremu będziesz miał‚ możliwość zarządzania nazwami domenowymi swojej witryny.
      </p>
		</div>
  </div>


{% endblock %}
