<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
	<title>Dariusz Felskowski | Usługi informatyczne</title>
	<link rel="icon" href=<%= require("./img/favicon.png") %> />
</head>
<body>
  <div id="fullpage">
	<section class="section page-landing">
		<nav class="page-nav">
			<li><a href=""><img id="logo" src=<%= require("./img/logo.png") %> /></a></li>
      <li class="nav-menu"><div class="bar"></div></li>
		</nav>
    <div class="page-menu">
      <ul>
      <li><a href="">O mnie</a></li>
      <li><a href="">Usługi</a></li>
      <li><a href="">Kontakt</a></li>
      </ul>
    </div>
    <div class="page-landing__text">
      <h1>Usługi <strong class="action-text">informatyczne</strong> <br> dla firm i klientów  <br>indywidualnych</h1>
    </div>
    <a class="landing-arrow" href="#"></a>
</section>
<div class="section page-about">
	<div class="page-about__text">
		<h2>
			Kim jestem
		</h2>
		<p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. </p>
<a href="#uslugi">Czym sie zajmuje</a>
	</div>
	<div><img src="https://scontent-waw1-1.xx.fbcdn.net/v/t34.0-12/20731500_1420004994744283_1665582362_n.jpg?oh=08e829b556737b3ecab5a3911a363705&oe=59958F57" alt=""></div>
</div>
<div id="#services" class="section page-services">
  <h2 class="section-title hr-top">Czym się specjalizuję</h2>
  <div class="services-grid"> 
    <div class="services-grid__item">
      <div class="services-grid__title">Bezpieczeństwo</div>
      <div class="services-grid__text">Zabezpieczenia systemów serwerów sieci. Lorem ipsum dorem orem. Lorem ipsum dorem orem. Sorem lorem ipsum</div>
    </div>
    <div class="services-grid__item">
      <div class="services-grid__title">Serwery</div>
      <div class="services-grid__text">Budowanie serwerów produkcyjnych o developerskich, zarządzanie serwerem nazw, zarządzanie serwerami www</div>
    </div>
    <div class="services-grid__item">
      <div class="services-grid__title">Monitoring</div>
      <div class="services-grid__text">Tworzenie systemów i serwerów monitorujących. Tworzenie systemów i serwerów monitorujących</div>
    </div>
    <div class="services-grid__item">
      <div class="services-grid__title">Bazy danych</div>
      <div class="services-grid__text">Tworzenie, zarządzanie i konfiguracja baz danych. Tworzenie, zarządzanie i konfiguracja baz danych.</div>
    </div>
    <div class="services-grid__item">
      <div class="services-grid__title">Optymalizacja</div>
      <div class="services-grid__text">Konfigurowanie sieci i serwerów w celu jak najlepszej optymalizacji. Tworzenie, zarządzanie i konfiguracja baz danych.</div>
    </div>
    <div class="services-grid__item">
      <div class="services-grid__title">Serwis</div>
      <div class="services-grid__text">Naprawa sprzętu komputerowego. Tworzenie, zarządzanie i konfiguracja baz danych.</div>
    </div>
      <!--<li> Zabezpieczenia systemów serwerów sieci</li>-->
    <!--<li> Budowanie serwerów developerskich</li>-->
    <!--<li> Budowanie serwerów produkcyjnych</li>-->
    <!--<li> Automatyzowanie pracy po przez pisanie skryptów</li>-->
    <!--<li> Konfigurowanie sieci, serwerów w celu jak najlepszej optymalizacji</li>-->
    <!--<li> Zarządzanie serwerem nazw</li>-->
    <!--<li> Wirtualizacja</li>-->
    <!--<li> Zarządzanie serwerami www</li>-->
    <!--<li> Tworzenie serwerów i systemów monitorujących serwery / sieć</li>-->
    <!--<li> Zarządzanie , konfiguracja bazami danych</li>-->
    <!--<li> serwer Git</li>-->
    <!--<li> drp</li>-->
    <!--<li> serwery plików</li>-->
    <!--<li> Zarządzanie pocztą eletroniczną</li>-->
  </div>
</div>
<div class="section page-contact">
  <h2 class="section-title hr-top">Kontakt</h2>
  <p>Aktualnie przyjmuję nowe zlecenia. Chciałbyś omówić swoje?</p>
  <a href="">+48 888 888 888</a>
  <a href="mailto:kontakt@felskowski.com">kontakt@felskowski.com</a>
  </div>
</body>
</html>
