<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
	<title>Dariusz Felskowski | Usługi informatyczne</title>
	<link rel="icon" href=<%= require("./img/favicon.png") %> />
</head>
<body>
		<nav class="page-nav">
			<li><a href=""><img id="logo" src=<%= require("./img/logo.png") %> /></a></li>
      <li class="nav-menu"><div class="bar"></div></li>
		</nav>
    <div class="page-menu">
      <ul>
      <li><a href="">O mnie</a></li>
      <li><a href="">Usługi</a></li>
      <li><a href="">Kontakt</a></li>
      </ul>
    </div>
  <div id="fullpage">
	<section class="section page-landing">
    <div class="page-landing__text">
      <h1>Usługi <strong class="action-text">informatyczne</strong> <br> dla firm i klientów  <br>indywidualnych</h1>
    </div>
    <a class="landing-arrow" href="#about"></a>
    <div class="side-nav" data-text="home">
      Home
    </div>
</section>
<div class="section page-about" data-anchor="about">
	<div class="page-about__text">
		<h2>KIM JESTEM</h2>
		<p>Mam na imię Darek, prawie jak Arek ale z D na początku. Od 2 lat zajmuje się ograniczaniem uprawnień pracownikom Ansty. Ponadto raz na jakiś czas rozmawiam z Panią Basią z firmy księgowej bo coś jej się popsuło. Ciągle się rozwijam i staram się aby moja praca niosła WARTOŚĆ DODANĄ</p>
    <div class="page-about__action">
      <a class="button" href="#uslugi">Czym sie zajmuje</a>
    </div>

    <a class="side-nav__arrow-up" href="#home"></a>
    <div class="side-nav" data-text="o mnie">
     o mnie
    </div>
    <a class="side-nav__arrow-down" href="#services"></a>
    </div>
</div>
<div id="#services" class="section page-services">
  <h2 class="services-title">Czym się zajmuję</h2>
  <div class="services-grid"> 
    <div class="grid-row right">
      <a href="#" class="services-grid__item">
      <div class="services-grid__image safety" data-number="01"></div>
      <div class="services-grid__title">Bezpieczeństwo</div>
      <div class="services-grid__text">Zabezpieczenia systemów serwerów sieci. Lorem ipsum dorem orem. Lorem ipsum dorem orem. Sorem lorem ipsum</div>
  </a>
</div>
    <div class="grid-row">
    <a href="#" class="services-grid__item">
      <div class="services-grid__image servers" data-number="02"></div>
      <div class="services-grid__title">Serwery</div>
      <div class="services-grid__text">Budowanie serwerów produkcyjnych o developerskich, zarządzanie serwerem nazw, zarządzanie serwerami www</div>
  </a>
</div>
    <div class="grid-row right">
    <a href="#" class="services-grid__item">
      <div class="services-grid__image monit" data-number="03"></div>
      <div class="services-grid__title">Monitoring</div>
      <div class="services-grid__text">Tworzenie systemów i serwerów monitorujących. Tworzenie systemów i serwerów monitorujących</div>
  </a>
</div>
<div class="services-button">
<a class="button" href="/services.html">Zobacz więcej usług</a>
</div>

    <!--
    <div class="services-grid__item">

      <div class="services-grid__title">Bazy danych</div>
      <div class="services-grid__text">Tworzenie, zarządzanie i konfiguracja baz danych. Tworzenie, zarządzanie i konfiguracja baz danych.</div>
    </div>
    <div class="services-grid__item">
      <div class="services-grid__title">Optymalizacja</div>
      <div class="services-grid__text">Konfigurowanie sieci i serwerów w celu jak najlepszej optymalizacji. Tworzenie, zarządzanie i konfiguracja baz danych.</div>
    </div>
    <div class="services-grid__item">
      <div class="services-grid__title">Serwis</div>
      <div class="services-grid__text">Naprawa sprzętu komputerowego. Tworzenie, zarządzanie i konfiguracja baz danych.</div>
    </div>
    -->
      <!--<li> Zabezpieczenia systemów serwerów sieci</li>-->
    <!--<li> Budowanie serwerów developerskich</li>-->
    <!--<li> Budowanie serwerów produkcyjnych</li>-->
    <!--<li> Automatyzowanie pracy po przez pisanie skryptów</li>-->
    <!--<li> Konfigurowanie sieci, serwerów w celu jak najlepszej optymalizacji</li>-->
    <!--<li> Zarządzanie serwerem nazw</li>-->
    <!--<li> Wirtualizacja</li>-->
    <!--<li> Zarządzanie serwerami www</li>-->
    <!--<li> Tworzenie serwerów i systemów monitorujących serwery / sieć</li>-->
    <!--<li> Zarządzanie , konfiguracja bazami danych</li>-->
    <!--<li> serwer Git</li>-->
    <!--<li> drp</li>-->
    <!--<li> serwery plików</li>-->
    <!--<li> Zarządzanie pocztą eletroniczną</li>-->
  </div>
    <a class="side-nav__arrow-up" href="#about"></a>
    <div class="side-nav" data-text="usługi">
     usługi
    </div>
    <a class="side-nav__arrow-down" href="#contact"></a>
</div>
<div class="section page-contact">
  <h2 class="section-title hr-top">Kontakt</h2>
  <p>Aktualnie przyjmuję nowe zlecenia. Chciałbyś omówić swoje?</p>
  <a class="contact-link" href="">+48 888 888 888</a>
  <a class="contact-link" href="mailto:kontakt@felskowski.com">kontakt@felskowski.com</a>
  <div class="button-contact">
  <a class="button" href="#uslugi">Napisz do mnie</a>
  </div>

    <div class="side-nav" data-text="kontakt">
     kontakt
    </div>
  </div>
</body>
</html>
