@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700');

body, html
  padding 0
  margin 0
  font-family 'Rubik', sans-serif

.fp-tableCell
  display flex
  flex-direction column
  align-items center
  justify-content center

.section-title
  font-size 4.5em
  margin-bottom 100px


.hr-top
  position relative
  &:before
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    position: absolute;
    top -30px
    left: 50%;
    transform translateX(-50%)
    background-color: #506fd4;
    border-radius: 4px;

.page-landing
  background-image url('./img/landing-bg.jpg')
  background-repeat no-repeat
  background-size cover
  color #fff
  text-align center
  &__text
    width 80%
    h1
      font-size 4em
      margin-bottom 0
      font-weight 700
      text-transform uppercase
      text-align left
    h3
      font-size 2em
      margin 0
      font-weight 400

.action-text
  position relative
  z-index 2
  &:after
    content ""
    position absolute
    display inline-block
    background #1A65E3
    height 34px
    width 100%
    left 13px
    bottom 15px
    z-index -1


.landing-arrow
  width 35px
  background-image url('img/arrow-down.svg')
  background-size 100% 100%
  background-repeat no-repeat
  position absolute
  bottom 50px
  &:after
    content ""
    width 37px
    height 37px
    display block
    border 1px solid #fff
    opacity .3
    border-radius 5px
    transform rotate(45deg)
    position relative
    left -2px
    top -2px

.page-nav  
  position fixed
  top 60px
  left 50%
  z-index 4
  transform translateX(-50%)
  display flex
  width 80%
  justify-content space-between
  text-transform uppercase
  & >li
    list-style none
    padding 0
    a
      color #fff
      text-decoration none  
#logo
  width 160px

.page-menu
  position absolute
  z-index 3
  right -600px
  top 0
  height 100vh
  background-color rgba(0,0,0,0.2)
  width 0
  overflow hidden
  transition .5s
  ul
    position absolute
    top 50%
    transform translateY(-50%)
    text-align right
    right 30%
    overflow hidden
    position relative
    li
      list-style none
      padding 20px 0
      a
        color #fff
        text-decoration none
        font-size 3.5em
        font-weight 700
        text-transform uppercase
        position relative
        &:after
          content ""
          position absolute
          display inline-block
          background #1A65E3
          height 34px
          width 100%
          top 19px
          z-index -1
          opacity 0
          right -200px
          transition .4s all ease
        &:hover:after
          opacity 1
          right 10px


.menu-opened
  width 600px 
  right 0 !important

.page-about
  background-image url('./img/about-bg.jpg')
  background-repeat no-repeat
  background-size cover
  color #fff
  position relative
  .fp-tableCell
    flex-direction row
    justify-content flex-start
    width 80%
    margin 0 auto
  &__text
    margin-right 50px
    max-width 700px
    h2
      font-size 1.4em
    p
      font-size 1.2em
      line-height 1.4em
  &__action
    position absolute
    bottom 300px

.button
  color #fff
  text-decoration none
  text-transform uppercase
  border 2px solid #fff
  padding 10px 40px
  &:hover
    background-color #1A65E3
    border-color #1A65E3

.page-services
  background-color #10213D
  color #fff
  
.services-grid
  width 65%
  display flex
  flex-wrap wrap
  font-family 'PT Serif', serif
  &__item
    width calc(100%/3)
    box-sizing border-box
    padding 40px 20px
  &__title
    font-size 2em
    margin-bottom 20px
  &__text
    font-size 1.2em

.page-contact
  background-image url('./img/footer-bg.jpg')
  background-repeat no-repeat
  background-size cover
  background-position bottom
  color #fff
  font-weight 300
  p
    font-size 1.6em
    margin-bottom 60px
  a
    color #fff
    font-size 1.8em
    text-decoration none
    margin-bottom 10px
    position relative
    z-index 2
    &:after
      content ""
      position absolute
      display inline-block
      background #1A65E3
      height 34px
      width 100%
      bottom 0
      z-index -1
      opacity 0
      right -200px
      transition .4s all ease
    &:hover:after
      opacity 1
      right 0

//=========== HAMBURGER =======  // {{{
  
bar-width = 30px
bar-height = 3px
bar-spacing = 10px

.nav-menu {
  width: bar-width;
	height: bar-height + bar-spacing*2;
  cursor: pointer;
  position relative
  z-index 2
}

.bar,
.bar:after,
.bar:before {
  width: bar-width;
	height: bar-height;
}

.bar {
	position: relative;
	top bar-spacing
	transform: translateY($bar-spacing);
	background: rgba(255, 255, 255, 1);
	transition: all 0ms 300ms;
  
  &.animate {
    background: rgba(255, 255, 255, 0); 
  }
}

.bar:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: bar-spacing;
	background: rgba(255, 255, 255, 1);
	transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar:after {
	content: "";
	position: absolute;
	left: 0;
	top: bar-spacing;
	background: rgba(255, 255, 255, 1);
	transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:after {
	top: 0;
	transform: rotate(45deg);
	transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:before {
	bottom: 0;
	transform: rotate(-45deg);
	transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
// }}}
